<h1>Редактирование статьи</h1>

<%= form_for @article do |f| %>

  <%= render(:partial => "form", :locals => {:f => f}) %>  

  <div class="form_action">
    <%= f.submit "Update article" %>
  </div>
<% end %>
