<h1>Hello, world! <%= link_to("Create new article", new_article_path) %> </h1>
 <p>I’m not able to open PDF files - I don’t use a Mac. Luckily, my assistant was able to open your PDF, print it, scan it and save   it as a JPG. I have to say, the colors you’ve chosen are horrible. Everything looks muddy. But I do like how the whole picture is slanted; it looks totally MTV.</p>



  <% @articles.each do |article| %>
  <div class="article">
    <div class="article_h2">
      <h2><%= link_to("#{article.title}", {:action => :show, :id => article.id}) %></h2>
    </div>

    <div class="article_preview">
      <%= article.preview %>
    </div>

    <div class="destroy_article_action">
      <%= link_to("delete", article, :method => :delete, :confirm => "Семь раз отмерь, один раз отрежь!") %>
    </div>  
  </div>
  <% end %>
</div>
  
