<h1>Hello, world!</h1>
 <p>I’m not able to open PDF files - I don’t use a Mac. Luckily, my assistant was able to open your PDF, print it, scan it and save   it as a JPG. I have to say, the colors you’ve chosen are horrible. Everything looks muddy. But I do like how the whole picture is slanted; it looks totally MTV.</p>
