  <div id="leftc">  
    <% @articles.each do |article| %>
      <div class="article">
        <div class="entry">
          <h2><%= link_to("#{article.title}", article_path(article)) %></h2>
            <div class="article_time"><p> Опубликовано <font color="#055DAE"><%= article.created_at.strftime("%d %B %Y, %H:%M") %>
            </font></p></div>
          <%= raw RedCloth.new(article.preview).to_html %>
        </div>  
      </div>
    <% end %>
    <%= paginate @articles %>
  </div>



