/*
@font-face {
    font-family: "Myriad Pro";
    src: url('/fonts/MyriadPro.ttf');
} 
*/
.container {
    width: 1200px;
    margin: 0 auto;
}

body { 
    background: url('/images/most.jpg') 0 0 repeat-x;
    font-family: sans-serif;
}

#header {
    background-image: url('/images/head3.jpg');
    width: 1200px;
    height: 187px;
    position: relative;
}

#logo {
    width: 368px; 
    height: 144px; 
    position: absolute; z-index:1;
    left: 100px;
    top: 35px;
    background-image: url('/images/gologo.png');
}

#themes {
    width: 1020px;
    padding: 10px 0 0 82px;
}

/* RSS-icon */
#categories {
    background-image: url('/images/headmenu3.jpg');
    width: 1200px;
    height: 47px;
}

#categories ul li {
    list-style-type: none;
    display: inline-block;
    color: #fffefe;
}

#categories ul li a {
    list-style-type: none;
    color: #fffefe;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia;
}

#categories ul li a:hover {
    text-decoration: underline;
}

ul.main-menu li {
    margin-right:20px; 
    padding: 0;
}

.main-menu .active span {
    margin-top: 2.1px;
    background-color: #055DAE;
    display: block;
    width: 100%;
    height: 10px;
}

#top-middle {
    display: block;
    height: 50px;
    width: 100%;
    background-color: ;
    margin-bottom: 20px;
    background-image: url('/images/g-line-1.png');
    background-position: bottom center;
    background-repeat: no-repeat;
}

#bottom-middle {
    display: block;
    height: 50px;
    width: 100%;
    background-color: ;
    margin-bottom: 30px;
    background-image: url('/images/g-line-1.png');
    background-position: bottom center;
    background-repeat: no-repeat;    
}

/*Стили формы контроллера articles*/

#content {
    float: left;
    width: 1200px;
    height: 100%;
    font-family: serif;
}

#leftc {
    padding-left: 100px;
    width: 643px;
    float: left;
    
}

h1 {
    font-size: 2.5em;
    font-family: Georgia;
    margin-bottom: 0;
    
}

h2 {
    font-size: 2.3em;
    font-family: Georgia;
    margin-bottom: 0;
    color: #1f1d1d;
}

.article h2 {
    font-size: 2.5em;
    font-family: Georgia;
    margin-bottom: 0;
    line-height: 1em;
}

.article h2 a {
    color: #1f1d1d;
}

.article h2 a:hover {
    color: #055DAE;
}

.article p {
    font: 10.3pt/18pt sans-serif;
    color: #5e5e5e;    
}

.article_time p {
    font-size: 12px;
}

.entry {
    width: 600px;
    text-align: left;
    padding: 30px 0 30px 0;
    background-image: url('/images/g-line-1.png');
    background-repeat: no-repeat;
    background-position: bottom center;
}

.entry:first-child {
    padding-top: 0;
}

.inner-entry {
    width: 600px;
    text-align: left;
    padding: 30px 0 30px 0;
}

.inner-entry:first-child {
    padding-top: 0;
}

#vk_comments {
    padding-top: 20px;
}

#inner-yandex-block {
    padding-bottom: 20px;
    display: inline-block;
}

a:visited {
    color: #B237AA;
}

/*Оцентровываем картинки*/
.article img {
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

/*Сайдбар*/

#sidebar {
    width: 355px;
    height: 100%;
    float: left;
    padding-left: 40px;
    background-image: url('/images/v-line-2.png');
    background-repeat: no-repeat;
    background-position: left;
}

#sidebar h2 { 
    font-size: 24px;
    color: #055DAE;
}

#sidebar ul {
    padding-left: 0;
    font-family: sans-serif;
}

#sidebar ul li {
    display:block;
    width:100%; 
    margin-bottom:5px;
    font-size: 14px;
    list-style:none;
    padding:0px;
}

#sidebar ul li a {
    color: black;
    color: #5e5e5e;
}

#sidebar a:hover {
    color: #000;
}

/*Pagination div*/

#pagination {
    text-align: center;
    padding: 10px 0 15px 0;
    background-image: url('/images/g-line-1.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    font-size: 16px;
}

/* Kaminari pagination */

span.page-kaminari a {
    color: black;
}

span.page-kaminari-current {
    font-size: 16px;
    font-weight: bold;
    background: #0581E2;
    padding: 0;
}

span.last-page-kaminari a {
    color: black;
    font-weight: bold;
}

span.next-page-kaminari a {
    color: black;
}

span.first-page-kaminari a {
    color: black;
}

/* Footer */

#footer {
    height: 37px;
	margin-top: 20px;
	padding: 0 120px;
	border-bottom: 1px solid #ABC;
	border-top: 1px solid #ABC;
}
#footer a {
	color: #579;
	text-decoration: none;
}
#footer .right, #footer .right a {
	color: #999;
	text-decoration: none;
}
#footer .text-separator {
	padding: 0 1px;
	color: #BBB;
}
#footer a:hover {color: #000;}



/* Navigation */

.nav {
  float: right;
}

.nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

.nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

.nav ul li a:visited {
  color: #09c;
}

.nav ul li a:hover {
  text-decoration: underline;
}

/*Помощь админу*/

#adminhelp {
float: right;
}

/*Стили error_explanation*/

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #000000;
  background-color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}



