.container {
    width: 710px;
}

body {
    font: 0.75em Verdana,sans-serif;
}

.preview_h2 a {
    color: #8277A3;
}

.preview_h2 a:hover {
    color: #ABA4C2;
}

/*form styling*/

#article_text {
    width: 700px;
    height: 400px;
}
