<div id="admin_help">

  <h2>FAQ под админке</h2>
  <ul>
    <li>!{Width:525px}картинка!</li>
    <li>*<strong>жирный текст</strong>*</li>
    <li>_<i>подчеркнутый текст</i>_</li>
    <li>*маркированый список 1<br />
        *маркированый список 2</li>
    <li>#нумерованый список 1</li>
    <li>Сcылка: "текст ссылки":http://адрес-ссылки.org</link>
  </ul>

</div>
