<div id="footer">
  <div class="left" id="footer-left">
	  <p class="large">&copy; 2011 SciOne.ru Наука о новостях</p>
  </div>
	<div class="right" id="footer-right">
	  <p class="large">
      <%= link_to "Технологии", articles_from_category_path('technology') %> <span class="text-separator">|</span> 
      <%= link_to "Гаджеты", articles_from_category_path('gadgets') %> <span class="text-separator">|</span> 
      <%= link_to "Космос", articles_from_category_path('cosmos') %><span class="text-separator">|</span> 
      <%= link_to "Мир", articles_from_category_path('world') %>
      <a href="#">&uarr;</a>
    </p> 
	</div>
</div>
