<div id="footer">
  <div class="left" id="footer-left">
	  <p class="large">&copy; 2011 SciOne.ru Наука о новостях</p>
  </div>
	<div class="right" id="footer-right">
	  <p class="large">
      <a href="#">Технология</a> <span class="text-separator">|</span> 
      <a href="#">Наука</a> <span class="text-separator">|</span> 
      <a href="#">Гаджеты</a> <span class="text-separator">|</span> 
      <a href="#">Автомобили</a>
      <a href="#">&uarr;</a>
    </p> 
	</div>
</div>
