<header>
  <nav class="navigation">
    <% if current_user %>
      <ul>
        <li>logged in as <strong><%= current_user.username %></strong></li>,
        <li><%= link_to "Sign out", log_out_path, :method => :delete %></li>
      </ul>
    <% end %>
  </nav>

<%= image_tag('head23.jpg') %>
<h1>Hello, world!</h1>
<% if current_user %>
  <p><%= link_to("Добавить новую статью", new_article_path) %></p>
<% end %>


</header>
