<div id="sidebar">
<h2>Последние темы</h2>

  <ul>
    <% @sidebar_offers.each do |article| %>
      <li> <%= link_to "#{article.title}", article_path(article)  %> </li>
     <% end %>
   </ul>

<h2>Самое популярное на сайте</h2>
  <ul>
    <% @sidebar_offers.each do |article| %>
      <li> <%= link_to "#{article.title}", article_path(article)  %> </li>
     <% end %>
   </ul>
</div>

